.wrapper {
    text-align: center;
}

.smallTitle {
    font-size: 2.8rem;
}

.icon {
    margin: 50px 0 30px 0;
}

.testimonial {
    position: relative;

    .content {
        font-size: 17px;
        font-style: italic;
        padding: 0 147px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    & .padding0 {
        padding: 0;
    }
}

.testimonial:hover .prev-btn {
    visibility: visible;
    opacity: 1;
    left: 0;
}

.testimonial:hover .next-btn {
    visibility: visible;
    opacity: 1;
    right: 0;
}

.author-name {
    font-weight: 500;
    font-size: 1.4rem;
    margin-top: 14px;

    .separate {
        margin: 0 4px;
    }
}

.prev-btn,
.next-btn {
    position: absolute;
    font-size: 3.2rem;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;

    &:hover {
        color: var(--primary-color);
        cursor: pointer;
    }
}

.prev-btn {
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.next-btn {
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

/* Mobile */
@media (max-width: 46.1875em) {
    .hide-on-mobile {
        display: none;
    }
    .testimonial {
        & .content {
            font-size: 1.4rem;
            padding: 0 90px;
        }
    }
    .icon img {
        width: 45px;
    }
    .brand {
        max-width: 100%;
        overflow-x: auto;
        justify-content: flex-start;
    }
    .brand::-webkit-scrollbar {
        display: none;
    }
    .brand-item img {
        width: 130px;
    }
}

/* Mobile & Tablet */
@media (max-width: 63.9375em) {
    .hide-on-mobile-tablet {
        display: none;
    }
    .xSmallTitle {
        font-size: 2.2rem;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .hide-on-tablet {
        display: none;
    }
    .testimonial {
        & .content {
            font-size: 1.6rem;
        }
    }
    .brand-item img {
        width: 120px;
    }
}
