.wrapper {
    padding: 31px 0 90px 0;
}

.item {
    font-family: 'Lora', serif;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding-right: 50px;
    border-right: 1px solid #ebebeb;

    img {
        width: 48px;
        height: 32px;
        object-fit: cover;
        margin-right: 18px;
    }
}

.info {
    h2 {
        font-size: 1.4rem;
        font-family: 'Lora', serif;
        font-weight: 700;
        margin-bottom: 7px;
    }

    p {
        font-weight: 300;
        font-family: 'Rubik', serif;
    }
}

.border-none {
    border: none;
}
/* Mobile */
@media (max-width: 46.1875em) {
    .hide-on-mobile {
        display: none;
    }
    .item {
        margin-bottom: 20px;
        padding: 0 50px;
        border-right: none;
    }
}

/* Mobile & Tablet */
@media (max-width: 63.9375em) {
    .hide-on-mobile-tablet {
        display: none;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .hide-on-tablet {
        display: none;
    }
    .item {
        margin-bottom: 20px;
    }
    .item.tablet-border-none {
        border-right: none;
    }
}
