.modal {
    border-radius: 0;
    height: 100%;
    width: 355px;
    padding: 18px 28px 33px;
    animation: slideToLeft 0.5s ease;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    .title {
        font-size: 2rem;
        font-weight: 500;
    }

    .close-btn {
        font-size: 2.6rem;
        transition: all 0.3s ease;

        &:hover {
            color: var(--primary-color);
            cursor: pointer;
        }
    }
}

.quantity {
    color: var(--primary-color);
    font-size: 1.6rem;
}

.cart-list {
    max-height: 360px;
    overflow-y: scroll;
    padding-bottom: 22px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    position: relative;

    & img {
        width: 87px;
        height: 87px;
    }
}

.cart-item + .cart-item {
    margin-top: 22px;
    border-top: 1px solid #e1e1e1;
    padding-top: 22px;
}

.content {
    margin-left: 12px;
    flex: 1;
}

.content-header {
    display: flex;
    align-items: center;
    margin-bottom: 6px;

    .cart-item-name {
        font-size: 1.4rem;
        overflow: hidden;
        max-width: 160px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.content-body {
    font-size: 1.2rem;

    .price {
        font-weight: 500;
    }
}

.delete-item-btn {
    font-size: 1.8rem;
    margin-right: 20px;
    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
        color: var(--primary-color);
    }
}

.footer {
    margin-top: 16px;
    border-top: 1px solid #e1e1e1;
}

.total-price {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    margin-top: 26px;

    & span:last-child {
        font-weight: 500;
    }
}

.cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 16px 0;
    border-radius: 4px;
    border: 1px solid #e1e1e1;
    margin-top: 26px;
    color: var(--white);
    background-color: var(--primary-color);
    transition: all 0.5s ease;

    &:hover {
        background-color: #658707;
    }

    & span {
        margin-left: 6px;
    }
}

@keyframes slideToLeft {
    from {
        transform: translateX(300px);
    }
    to {
        transform: translateX(0);
    }
}
