.wrapper {
    text-align: center;
    font-family: 'Lora', serif;
    position: relative;
    font-size: 4rem;
    font-weight: 400;
    padding-bottom: 22px;
    margin-bottom: 32px;

    &::after {
        position: absolute;
        content: '';
        width: 80px;
        height: 2px;
        background: #222222;
        bottom: 0;
        left: 50%;
        transform: translatex(-50%);
    }
}
